/*font style sheet*/

.italic{
  font-family:italic;
  font-style:italic;
  /*transition: color 2s ease-out;*/
}


.italic:hover{
  /*color:pink;*/
}

.black{
  font-family:black;
  font-style: normal;
}

.black:hover{
  /*
  font-family:roman;
  font-style:normal;
  */
}


.roman{
  transition: color ease-out;
}

.roman:hover{
  /*
  font-family:black;
  font-style: normal;
  /*font-size:1.2rem;
  */
}


/*fonts*/

@font-face {
  font-family: 'italic';
  src: url('../fonts/MarianText-1757Italic.eot');
  src: url('../fonts/MarianText-1757Italic.woff2') format('woff2'),
       url('../fonts/MarianText-1757Italic.woff') format('woff'),
       url('../fonts/MarianText-1757Italic.ttf') format('truetype'),
       url('../fonts/MarianText-1757Italic.svg#MarianText-1757Italic') format('svg'),
       url('../fonts/MarianText-1757Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: 'roman';
  src: url('../fonts/MarianText-1757Roman.eot');
  src: url('../fonts/MarianText-1757Roman.woff2') format('woff2'),
       url('../fonts/MarianText-1757Roman.woff') format('woff'),
       url('../fonts/MarianText-1757Roman.ttf') format('truetype'),
       url('../fonts/MarianText-1757Roman.svg#MarianText-1757Italic') format('svg'),
       url('../fonts/MarianText-1757Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'black';
  src: url('../fonts/MarianText-Black.eot');
  src: url('../fonts/MarianText-Black.woff2') format('woff2'),
       url('../fonts/MarianText-Black.woff') format('woff'),
       url('../fonts/MarianText-Black.ttf') format('truetype'),
       url('../fonts/MarianText-Black.svg#MarianText-1757Italic') format('svg'),
       url('../fonts/MarianText-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



/*common base */

*{
  margin:0;
  padding:0;
}

html{
  margin: 0 auto;
  font-family: roman;
  font-style: normal;
  font-size:24px;
  color:darkgrey;
  background-color: lightgrey;
}

body{
  margin: 3% auto;
  width:85%;
  cursor: pointer;
}


/*header */
/*header-project*/
/*
header{
  display:flex;
  justify-content: space-between;
  align-items: center;
/*background-color: red;
)*/


/*header-credits
header .credits{
  font-size: 0.6rem;
}
header .credits .name{
  font-family:italic;
  font-style:italic;
  transition: all 300ms ease-out;
}
.muir:hover{
  color:turquoise;
}
.marian:hover{
  color:pink;
}
.sijya:hover{
  color: peachpuff;
}
*/


/*main*/
main {
  text-align: center;
  margin: 0 auto;
}




/*introduction */


.introduction {
  line-height: 0.9;
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin:0 auto;
  align-items: center;
}

/*introduction-title */

.title-box{
  display:inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:55%;
  margin:0 auto;
  text-align: center;
  font-size: 0.75rem;
  transition: background-color 1s ease-in;
  background-color: pink;
}

.title-box:hover{
  color:darkgrey;
  background-color: mistyrose;
}

 p.title{
   color:white;
   transition: letter-spacing 5s ease-out 100ms, color 3s ease;
   width:100%;
}

 p.title:hover{
  letter-spacing:2px;
  color:darkgrey;
}

/*introduction-author */

.author-box{
  width:50%;
  margin:0 auto;
  display:flex;
  flex-direction: ;
  justify-content: space-between;
  align-items: space-between;
}

 p.author{
  font-family:italic;
  font-style:italic;
  padding-top:30%;
  transition: all 2s ease-out;
}

 p.author:hover{
   color: white;
}

/*introduction-acommonconfusion */


.introduction .acommonconfusion{
  display:inline-block;
  width:40%;
  margin-bottom:3rem;
  color:white;
  background-color: #EFEED0;
  padding:10%;
  font-size:0.4rem;
  transition: all 1s ease;
}

.introduction .acommonconfusion:hover{
  color:darkgrey;
  background-color: #FFFFF0	;
}

.introduction .acommonconfusion span{
  font-family:black;
  font-style: normal;
  transition: letter-spacing 1s ease-out, margin-left 1s ease-out, color 0;
}


.introduction .acommonconfusion span:hover{
  font-family:roman;
  font-style: normal;
  letter-spacing: 1px;
  margin-left: 1px;
}



/*introduction-franzkafka*/

.introduction .franzkafka {
  display: inline-block;
  color:white;
  background-color: peachpuff;
  transition: all 1s ease;

}

.introduction .franzkafka:hover{
  background-color: #FFE5CF;
  color:darkgrey;
  /*color:red;*/
}

.introduction .franzkafka p{
  line-height: 0.9;
  font-size: 0.4rem;
}

.introduction .franzkafka span{
  font-family:black;
  font-style: normal;
}

.introduction .franz, .introduction .kafka{
  transition: letter-spacing 2s ease-out, padding 2s ease-out;
}

.introduction .franz:hover, .introduction .kafka:hover{
  letter-spacing: 10px;
  padding-left:20px;
  padding-right:10px;
  font-family:roman;
  font-style: normal;
}



/*section-two*/

.section-two{
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*experience*/

.experience{
  display:flex;
  margin-bottom:3rem;
  width:85%;
}



/*experience-para*/

.experience .para{
  font-size: 0.65rem;
  line-height: 1.37;
  padding: 5% 5% 5% 6%;
  line-height: 1.2;
  text-align: left;
  width:20%;
  background-color: lavender;
  margin-bottom: 3rem;
  visibility: hidden;
}


/*experience-lines*/

.experience .lines{
  background-color: aquamarine;
  font-size: 0.6em;
  width:60%;
  padding:5% 5% 5% 1%;
  text-align: center;
  display:block;
  margin: 0 auto;
  position: relative;
transition: all 1s ease;
  /*background-color: orange;*/
}

.experience .lines:hover{
background-color: #CCFFED;
}

.experience .lineone {
display: inline-block;
margin-left:5%;
}

 .experience .linetwo {
display: inline-block;
margin-left:10%;
}

.experience .linethree {
display: inline-block;
margin-left:15%;
/*padding:0.3%;*/
}

.experience .linefour {
display: inline-block;
margin-left:20%;
}


.experience .line{
 transition: all 500ms ease-out;
 color:white;

}


.experience .line:hover{
margin-left:40%;
color:darkgrey;

}

/*transition*/
 .transaction{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width:50%;
   margin: 0 auto;

 }


.para, .letter-box{
  display: inline-block;

}


/*letter*/

.letter-outer-box{
  background-color: pink;
  display: block;
  width:100%;
  margin-bottom: 3rem;
}

.letter-outer-box:hover{
  background-color: #F4AEBD;
}

.letter-box{
  text-align: left;
  display:inline-block;
  width:100%;
  padding-top:30%;
  padding-bottom:30%;
  margin-left: 10%;
  transition: all 3s ease-out;
  color: white;
}


.letter-box:hover{
  margin-left:90%;
}

/*para*/

.para{
  font-size: 0.65rem;
  line-height: 1.37;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:70%;
}

.transact{
  text-align: left;
  width:40%;
  background-color: peachpuff;
  padding:20% 20% 20% 25%;
  margin-bottom: 2rem;
  transition: all 1s ease;
}

.transact:hover{
  background-color: #FFE5CF;
}
.goes{
  width:30%;
  text-align: left;
  width:50%;
  background-color:  #CFD7E5;
  padding:30% 30% 30% 36%;
}
/**/

.goes:hover{
  background-color:lavender;
}
