/*font style sheet*/

.italic{
  font-family:italic;
  font-style:italic;
  transition: color 2s ease-out;
}


.italic:hover{
  color:pink;
}

.black{
  font-family:black;
  font-style: normal;
  font-size: 0.88em;
}

.black:hover{
  font-family:roman;
  font-style:normal;
}


.roman{
  transition: color ease-out;
}

.roman:hover{
  font-family:black;
  font-style: normal;
  font-size:0.88em;
  /*font-size:1.2rem;*/
}


/*fonts*/

@font-face {
  font-family: 'italic';
  src: url('../fonts/MarianText-1757Italic.eot');
  src: url('../fonts/MarianText-1757Italic.woff2') format('woff2'),
       url('../fonts/MarianText-1757Italic.woff') format('woff'),
       url('../fonts/MarianText-1757Italic.ttf') format('truetype'),
       url('../fonts/MarianText-1757Italic.svg#MarianText-1757Italic') format('svg'),
       url('../fonts/MarianText-1757Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: 'roman';
  src: url('../fonts/MarianText-1757Roman.eot');
  src: url('../fonts/MarianText-1757Roman.woff2') format('woff2'),
       url('../fonts/MarianText-1757Roman.woff') format('woff'),
       url('../fonts/MarianText-1757Roman.ttf') format('truetype'),
       url('../fonts/MarianText-1757Roman.svg#MarianText-1757Italic') format('svg'),
       url('../fonts/MarianText-1757Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'black';
  src: url('../fonts/MarianText-Black.eot');
  src: url('../fonts/MarianText-Black.woff2') format('woff2'),
       url('../fonts/MarianText-Black.woff') format('woff'),
       url('../fonts/MarianText-Black.ttf') format('truetype'),
       url('../fonts/MarianText-Black.svg#MarianText-1757Italic') format('svg'),
       url('../fonts/MarianText-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



/*common base */

*{
  margin:0;
  padding:0;
}

html{
  margin: 0 auto;
  font-family: roman;
  font-style: normal;
  font-size:24px;
  line-height: 1.2;
  color:black;
  background-color:white;
}

body{
  margin: 15% 22%;
  cursor: pointer;
}


/*header */

/*header-project*/

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: red;*/
}

header p.author{
  font-family:italic;
  font-style:italic;
  transition: color 2s ease-out;
}

header p.author:hover{
color: white;
}

header p.title{
transition: letter-spacing 14s ease-out 100ms, color 5s ease;
}

header p.title:hover{
  letter-spacing: 3px;
  color:red;
}

/*header-credits*/

header .credits{
  font-size: 0.6rem;
}

header .credits .name{
  font-family:italic;
  font-style:italic;
  transition: all 300ms ease-out;
}

.muir:hover{
  color:turquoise;
}
.marian:hover{
  color:pink;
}

.sijya:hover{
  color: peachpuff;
}

/*main*/
main {
  margin-top:30%;
  text-align: center;
  margin: 30% auto 0 auto;
}

/*main-introduction */

/*main-acommonconfusion */

main .introduction {
  font-size:0.7rem;
}


main .introduction .acommonconfusion span{
  font-family:black;
  font-style: normal;
  transition: letter-spacing 1s ease-out, margin-left 1s ease-out, color 0;
}


main .introduction .acommonconfusion span:hover{
  font-family:roman;
  font-style: normal;
  letter-spacing: 1px;
  margin-left: 1px;
  color:red;

}


/*main-franzkafka*/

main .introduction .franzkafka {
  font-size: 0.8em;
}

main .introduction .franzkafka span{
  font-family:black;
  font-style: normal;
}

main .introduction .franz, main .introduction .kafka{
  transition: all 2s ease-out;
}

main .introduction .franz:hover{
  letter-spacing: 10px;
  margin-left:20px;
  margin-right:10px;
}


main .introduction .kafka:hover{
  letter-spacing: 10px;
  margin-left:20px;
  margin-right:10px;
}


/*First line*/

main .experience{
  margin-top:10%;
  font-size: 0.7rem;
}

main .experience .lines{
  text-align: left;
  background-color: pink;
  display:inline-block;
}

main .experience .black {
  font-size: 0.88em;
}

main .experience .line{

}
