/*fonts*/

@font-face {
  font-family: 'italic';
  src: url('../fonts/MarianText-1757Italic.eot');
  src: url('../fonts/MarianText-1757Italic.woff2') format('woff2'),
       url('../fonts/MarianText-1757Italic.woff') format('woff'),
       url('../fonts/MarianText-1757Italic.ttf') format('truetype'),
       url('../fonts/MarianText-1757Italic.svg#MarianText-1757Italic') format('svg'),
       url('../fonts/MarianText-1757Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: 'roman';
  src: url('../fonts/MarianText-1757Roman.eot');
  src: url('../fonts/MarianText-1757Roman.woff2') format('woff2'),
       url('../fonts/MarianText-1757Roman.woff') format('woff'),
       url('../fonts/MarianText-1757Roman.ttf') format('truetype'),
       url('../fonts/MarianText-1757Roman.svg#MarianText-1757Italic') format('svg'),
       url('../fonts/MarianText-1757Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'black';
  src: url('../fonts/MarianText-Black.eot');
  src: url('../fonts/MarianText-Black.woff2') format('woff2'),
       url('../fonts/MarianText-Black.woff') format('woff'),
       url('../fonts/MarianText-Black.ttf') format('truetype'),
       url('../fonts/MarianText-Black.svg#MarianText-1757Italic') format('svg'),
       url('../fonts/MarianText-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-size: 0.9rem;
}

/*font style sheet*/

.italic{
  font-family:italic;
  font-style:italic;
  transition: color 2s ease-out;
}


.italic:hover{
  color:pink;
}

.black{
  font-family:black;
  font-style: normal;
}

.black:hover{
  font-family:roman;
  font-style:normal;
}


.roman{
  transition: color ease-out;
}

.roman:hover{
  font-family:black;
  font-style: normal;
  font-size:0.88em;
  /*font-size:1.2rem;*/
  color:blue;
}


/*common base */

*{
  margin:0;
  padding:0;
}

html{
  margin: 0 auto;
  font-family: roman;
  font-style: normal;
  font-size:24px;
  line-height: 1.2;
  color:black;
  background-color:white;
}

body{
  margin: 18% 22%;
  cursor: pointer;
}


/*header */

/*header-project*/

header{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  /*background-color: red;*/
}

header p.author{
  font-family:italic;
  font-style:italic;
  transition: color 2s ease-out;
}

header p.author:hover{
color: white;
}

header p.title{
transition: letter-spacing 14s ease-out 100ms, color 5s ease;
}

header p.title:hover{
  letter-spacing: -10px;
  color:red;
}

/*header-credits*/

header .credits{
  font-size: 0.6rem;
}

header .credits .name{
  font-family:italic;
  font-style:italic;
  transition: all 500ms ease-out;
}

.muir:hover{
  color:turquoise;
}
.marian:hover{
  color:pink;
}

.sijya:hover{
  color: peachpuff;
}

/*body*/

/* body-introduction */

/* body-introduction-acommonconfusion */

body .introduction .acommonconfusion span{
  font-family:black;
  font-style: normal;
}


body .introduction .acommonconfusion span:hover{
  font-family:roman;
  font-style: normal;
}
